<div class="a1c reading-entry card bg-dark mb-3 placeholder-glow" aria-hidden="true">
  <div class="card-body pt-1">
    <h5 class="card-title reading-entry-label object-fit-fill placeholder">HbA1c</h5>
    <div class="card-text">
      <div class="reading-entry-body text-center object-fit-fill placeholder">
        <span class="reading-entry-value ">0.0</span>
        <span class="unit-label">%</span>
        <div class="last-updated"></div>
      </div>
    </div>
  </div>
</div>