<div class="calories reading-entry card text-bg-dark mb-3 xplaceholder-glow" aria-hidden="true">
  <div class="card-body pt-1">
    <h5 class="card-title reading-entry-label object-fit-fill xplaceholder text-uppercase">Calories</h5>
    <div class="card-text">
      <div class="reading-entry-body text-center object-fit-fill xplaceholder">
        <span class="reading-entry-value ">0</span>
        <span class="unit-label">kcal</span>
        <div class="last-updated"></div>
      </div>
    </div>
  </div>
</div>