<div class="carbs reading-entry card bg-dark mb-3 placeholder-glow" aria-hidden="true" data-timeframe="timeframeRate">
  <div class="card-body pt-1">
    <h5 class="card-title reading-entry-label object-fit-fill placeholder text-uppercase placeholder-field">Carbs{{> today-tip }}</h5>
    <div class="card-text" data-container="value-card">
      {{!-- <div class="reading-entry-body text-center object-fit-fill placeholder placeholder-field">
        <span class="reading-entry-value">0</span>
        <span class="unit-label">g</span>
        <div class="last-updated"></div>
      </div> --}}
    </div>
  </div>
</div>
{{!-- 
<div class="d-none" data-type="template">
  <div class="reading-entry-body text-center object-fit-fill placeholder placeholder-field" data-template="carbs-card">
    <span class="reading-entry-value" data-bind="value">0</span>
    <span class="unit-label" data-bind="unit">g</span>
    <div class="last-updated" data-bind="time"></div>
  </div>
</div> --}}