<div class="d-none" data-type="template">
  <div class="nutrition-facts us" data-template="nutrition-facts">
    <div class="heading black">Nutrition Facts</div>
    <div class="divider thin"></div>
    <table class="serving-size">
      <colgroup>
        <col width="90px" />
        <col width="*" />
      </colgroup>
      <tbody><tr>
          <td class="serving-size black us serving-size-label">Serving Size</td>
          <td class="serving-size black us serving-size-value">1 serving</td>
        </tr>
      </tbody></table>
    <div class="divider thick"></div>
    <div class="left">
      <div class="nutrient black">Amount Per Serving</div>
      <div class="hero-label black">Calories</div>
    </div>
    <div class="hero-value black right">710</div>
    <div class="divider medium"></div>
    <div class="nutrient left">&nbsp;</div>
    <div class="nutrient black right">% Daily Values*</div>
    <div class="divider thin"></div>
    <div class="nutrient black left">Total Fat</div>
    <div class="nutrient value left">48.00g</div>
    <div class="nutrient black right">62%</div>
    <div class="divider thin"></div>

    <div class="nutrient sub left">Saturated Fat</div>
    <div class="nutrient value left">19.000g</div>
    <div class="nutrient black right">95%</div>
    <div class="divider thin"></div>

    <div class="nutrient sub left"><i>Trans</i> Fat</div>
    <div class="nutrient value left">0.500g</div>
    <div class="divider thin"></div>

    <div class="nutrient black left">Cholesterol</div>
    <div class="nutrient value left">275mg</div>
    <div class="nutrient black right">92%</div>
    <div class="divider thin"></div>

    <div class="nutrient black left">Sodium</div>
    <div class="nutrient value left">1670mg</div>
    <div class="nutrient black right">73%</div>
    <div class="divider thin"></div>
    <div class="nutrient black left">Total Carbohydrate</div>
    <div class="nutrient value left">37.00g</div>
    <div class="nutrient black right">13%</div>
    <div class="divider thin"></div>

    <div class="nutrient sub left">Dietary Fiber</div>
    <div class="nutrient value left">1.0g</div>
    <div class="nutrient black right">4%</div>
    <div class="divider thin"></div>

    <div class="nutrient sub left">Sugars</div>
    <div class="nutrient value left">7.00g</div>
    <div class="divider thin"></div>

    <div class="nutrient black left">Protein</div>
    <div class="nutrient value left">33.00g</div>
    <div class="divider thick"></div>

    <div class="nutrient left">Vitamin D</div>
    <div class="nutrient value left">-</div>
    <div class="nutrient right"></div>
    <div class="divider thin"></div>

    <div class="nutrient left">Calcium</div>
    <div class="nutrient value left">-</div>
    <div class="nutrient right"></div>
    <div class="divider thin"></div>

    <div class="nutrient left">Iron</div>
    <div class="nutrient value left">-</div>
    <div class="nutrient right"></div>
    <div class="divider thin"></div>

    <div class="nutrient left">Potassium</div>
    <div class="nutrient value left">-</div>
    <div class="nutrient right"></div>

    <div class="divider medium"></div>
    <div class="footnote">* The % Daily Value (DV) tells you how much a nutrient in a serving of food contributes to a daily diet. 2,000 calories a day is used for general nutrition advice.</div>
  </div>
</div>