<div class="d-none" data-type="template">
  <li class="dropdown-item" data-template="foodSuggestions" data-bind="value" data-bind-value-attr="data-value">
    <img 
      height="16"
      width="16"
      src="" 
      class="food-suggestion-image mr-2" 
      data-bind="img" 
      data-bind-img-attr="src" 
      data-bind-source-attr="alt" />
    <span class="food-suggestion-name text-truncate" data-bind="value"></span>
  </li>
</div>