<div class="food reading-entry card bg-dark mb-3 placeholder-glow" aria-hidden="true">
  <div class="card-body">
    <h5 class="card-title placeholder reading-entry-label object-fit-fill">Food Entry</h5>
    <div class="card-text">
      <ul class="food-list list-group list-group-flush reading-entry-body">
        <li class="list-group-item placeholder">An item</li>
        <li class="list-group-item placeholder">A second item</li>
        <li class="list-group-item placeholder">A third item</li>
      </ul>
    </div>
  </div>
</div>

<li class="food-item-template d-none list-group-item">
  <div class="food-item-name">
    <i class="fa-solid fa-bowl-food"></i>
    <span class="label"></span>
  </div>
  <div>
    <div class="food-item-calories d-inline me-2">
      <span class="label"></span>
      <span class="value"></span>
      <span class="unit"></span>
    </div>
    <div class="food-item-carbs d-inline">
      <span class="label"></span>
      <span class="value"></span>
      <span class="unit"></span>
    </div>
  </div>
  <div class="food-item-time"></div>
</li>