<!-- Modal for Adding Meal Information -->
<div class="modal modal-xl fade" id="addFoodModal" tabindex="-1" aria-labelledby="addFoodModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFoodModalLabel">Add Food Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" novalidate data-url="/api/v1/food" data-method="POST" id="food-form">

          <div class="container">
            
            <div class="row">
              <div class="col">
                {{!-- brand --}}
                <div class="input-group mb-3 mt-4">
                  <span class="input-group-text"><i class="fa-solid fa-shop"></i></span>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="food-brand" name="brand" placeholder="Brand" />
                    <label for="brand">Brand</label>
                  </div>
                </div>
              </div>
              <div class="col-3" role="expand" data-expand="food-search" data-expand-class="col-9">
                {{> searchbar fieldId="food-search" placeholder="Food Search..." resultTemplate="foodItem" name="search" }}
              </div>
            </div>

            <div class="row">
              
              <div class="col">
                {{!-- name --}}
                <div class="input-group mb-3">
                  <span class="input-group-text"><i class="fa-solid fa-utensils"></i></span>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="food-name" name="name" placeholder="Food Name" required />
                    <label for="food-name">Food Name</label>
                  </div>
                </div>
              </div>
              <div class="col-3">
                {{> recorded-at-field id="FoodRecordedAt" placeholder="Enter Meal Time" }}
              </div>
              <div class="col-3">
                <div class="input-group mb-3">
                  <span class="input-group-text"><i class="fa-solid fa-list-ol"></i></span>
                  <div class="form-floating">
                    <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Quantity" min="0.01" value="1" step=".01" required />
                    <label for="quantity">Quantity</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text"><i title="Calories" aria-placeholder="Calories" class="fa-solid fa-bolt"></i></span>
                  <div class="form-floating">
                    <input type="number" class="form-control" id="calories" name="calories" placeholder="Calories" step=".01" />
                    <label for="calories">Calories</label>
                  </div>
                  <input type="hidden" name="calories_unit" value="kcal" />
                  <span class="input-group-text">kcal</span>
                </div>
              </div>
              
              {{!-- <div class="col"></div> --}}

              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text"><i title="Carbohydrates" aria-placeholder="Carbohydrates" class="fa-solid fa-bolt"></i></span>
                  <div class="form-floating">
                    <input type="number" class="form-control" id="carbs" name="carbs" placeholder="Carbohydrates" step=".01" />
                    <label for="carbs">Carbohydrates</label>
                  </div>
                  <input type="hidden" name="carbs_unit" value="g" />
                  <span class="input-group-text">g</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text"><i title="Protein" aria-placeholder="Protein" class="fa-solid fa-bolt"></i></span>
                  <div class="form-floating">
                    <input type="number" class="form-control" id="protein" name="protein" placeholder="Protein" step=".01" />
                    <label for="protein">Protein</label>
                  </div>
                  <input type="hidden" name="protein_unit" value="g" />
                  <span class="input-group-text">g</span>
                </div>
              </div>

              {{!-- <div class="col"></div> --}}

              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text"><i title="Cholesterol" aria-placeholder="Cholesterol" class="fa-solid fa-bolt"></i></span>
                  <div class="form-floating">
                    <input type="number" class="form-control" id="cholesterol" name="cholesterol" placeholder="Cholesterol" step=".01" />
                    <label for="cholesterol">Cholesterol</label>
                  </div>
                  <input type="hidden" name="cholesterol_unit" value="mg" />
                  <span class="input-group-text">mg</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text"><i title="Fat" aria-placeholder="Fat" class="fa-solid fa-bolt"></i></span>
                  <div class="form-floating">
                    <input type="number" class="form-control" id="fat" name="fat" placeholder="Fat" step=".01" />
                    <label for="fat">Fat</label>
                  </div>
                  <input type="hidden" name="fat_unit" value="g" />
                  <span class="input-group-text">g</span>
                </div>
              </div>

              {{!-- <div class="col"></div> --}}

              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text"><i title="Sodium" aria-placeholder="Sodium" class="fa-solid fa-bolt"></i></span>
                  <div class="form-floating">
                    <input type="number" class="form-control" id="sodium" name="sodium" placeholder="Sodium" step=".01" />
                    <label for="sodium">Sodium</label>
                  </div>
                  <input type="hidden" name="sodium_unit" value="mg" />
                  <span class="input-group-text">mg</span>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-6">
                {{!-- container for file "previews" after upload --}}
              </div>
              <div class="col-6">
                {{!-- <div class="input-group mb-3">
                  <span class="input-group-text"><i class="fa-solid fa-file"></i></span>
                  <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                  <button class="btn btn-terr" type="button" id="inputGroupFileAddon04">Upload</button>
                </div> --}}
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text"><i class="fa-solid fa-comments"></i></span>
                  <div class="form-floating">
                    <textarea rows="5" placeholder="Additional Notes" class="form-control" id="FoodAdditionalNotes" name="notes"></textarea>
                    <label for="FoodAdditionalNotes">Additional Notes</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" name="source" value="User" />
          <input type="hidden" name="source_id" value="" />
          <input type="hidden" name="info_url" value="" />
          <input type="hidden" name="description" value="" />
          <input type="hidden" name="serving" value="1 serving" />

          <div class="float-end">
            <button type="reset" class="btn btn-secondary me-3" data-form="food-form">Reset</button>
            <button type="submit" class="btn btn-primary" data-form="food-form">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

