
<div class="card chart bg-dark mb-3 placeholder-glow glucoseChart" data-timeframe="timeframeRate">
  <div class="card-body ">
    <canvas class="chart-canvas placeholder object-fit-fill placeholder-field" id="glucoseChart" width="400" height="200"></canvas>
  </div>
</div>