<div class="glucose reading-entry card bg-dark mb-3 placeholder-glow" aria-hidden="true">
  <div class="card-body">
    <h5 class="card-title reading-entry-label placeholder">Last Glucose Entry</h5>
    <div class="card-text">
      <div class="reading-entry-body text-center object-fit-fill placeholder">
        <span class="reading-entry-value ">0.0</span>
        <span class="unit-label">mg/dL</span>
        <div class="last-updated"></div>
      </div>
    </div>
  </div>
</div>