<div class="btn-group" role="group" aria-label="Set auto refresh">
  <div class="btn-group" role="group">
    <button data-role="refresh" type="button" class="btn btn-dark"><i class="fa fa-rotate me-2"></i><span>Refresh</span></button>
    <button data-role="refresh-rate-dropdown" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      30s
    </button>
    <ul class="dropdown-menu">
      <li><button data-role="refresh-rate" class="dropdown-item" data-value="">Off</button></li>
      <li><button data-role="refresh-rate" class="dropdown-item active" data-value="30000">30s</button></li>
      <li><button data-role="refresh-rate" class="dropdown-item" data-value="45000">45s</button></li>
      <li><button data-role="refresh-rate" class="dropdown-item" data-value="60000">1m</button></li>
      <li><button data-role="refresh-rate" class="dropdown-item" data-value="120000">2m</button></li>
      <li><button data-role="refresh-rate" class="dropdown-item" data-value="300000">5m</button></li>
      <li><button data-role="refresh-rate" class="dropdown-item" data-value="600000">10m</button></li>
    </ul>
  </div>
</div>