<div class="btn-group" role="group" aria-label="Set data selection range">
  <div class="btn-group" role="group">
    <button class="btn btn-secondary">Select Timeframe</button>
    <button data-role="timeframe-dropdown" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    </button>
    <ul class="dropdown-menu">
      <li><button data-role="timeframe" class="dropdown-item" data-value="1d">Last 1 Day</button></li>
      <li><button data-role="timeframe" class="dropdown-item" data-value="7d">Last 7 Days</button></li>
      <li><button data-role="timeframe" class="dropdown-item" data-value="14d">Last 14 Days</button></li>
      <li><button data-role="timeframe" class="dropdown-item" data-value="30d">Last 30 Days</button></li>
      <li><button data-role="timeframe" class="dropdown-item" data-value="90d">Last 3 Months</button></li>
      <li><button data-role="timeframe" class="dropdown-item" data-value="120d">Last 4 Months</button></li>
      <li><button data-role="timeframe" class="dropdown-item" data-value="150d">Last 5 Months</button></li>
      <li><button data-role="timeframe" class="dropdown-item" data-value="180d">Last 6 Months</button></li>
      <li><button data-role="timeframe" class="dropdown-item" data-value="365d">Last 12 Months</button></li>
      <li><button data-role="timeframe" class="dropdown-item" data-value="~">All Time</button></li>
    </ul>
  </div>
</div>