
<div class="d-none" data-type="template">
  <div class="reading-entry-body text-center object-fit-scale text-nowrap placeholder placeholder-field" data-template="value-card">
    <span class="reading-entry-value" data-bind="value">0</span>
    <span class="unit-label" data-bind="unit">g</span>
    <div class="last-updated" data-bind="time"></div>
  </div>
</div>