
<div class="chart card bg-dark mb-3 placeholder-glow weightChart">
  <div class="card-body">
    <canvas class="chart-canvas placeholder object-fit-fill" id="weightChart" width="400" height="200"></canvas>
  </div>
</div>
