<div class="position-relative">
  <div class="chart card bg-dark mb-3 placeholder-glow weightChart" data-timeframe="timeframeRate">
    <div class="card-body">
      <canvas class="chart-canvas placeholder object-fit-fill" id="weightChart" width="400" height="200"></canvas>
    </div>
  </div>
  <!-- Add Weight Entry Button -->
  <button type="button" 
    class="btn-card-bottom-right btn btn-secondary btn-sm rounded-circle position-absolute bottom-0 end-0 m-2" 
    data-bs-toggle="modal" data-bs-target="#addWeightModal" title="Add Weight Entry">
    <i class="fa-solid fa-plus"></i>
  </button>
</div>